@mixin flexWrap($direction, $justify, $align, $gap) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin buttonBig($font, $back) {
    width: 100%;
    height: 50px;
    font-weight: bold;
    color: $font;
    background-color: $back;
}
